<form fxLayout="column" [formGroup]="group" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

  <mat-form-field>
    <input type="text" placeholder="Line Ref" matInput formControlName="lineRef" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let lineRef of filteredLineRefs | async" [value]="lineRef.LineRef">
        {{lineRef.LineName}} ' / ' {{lineRef.LineRef}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="group.controls['lineRef'].invalid">Line ref is required</mat-error>
  </mat-form-field>

  <mat-label>Preview Interval</mat-label>
  <mat-slider thumbLabel autoTick min="0" max="60" formControlName="previewInterval"
    (change)="onChange('previewInterval', $event.value)">
  </mat-slider>

  <button mat-raised-button fxFlexAlign="end" fxLayoutAlign="end" type="submit" raised [disabled]="!group.valid"
    (click)="onSubmit(f.value)">Submit</button>
</form>