<form fxLayout="column" [formGroup]="group" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

    <mat-form-field>
        <input type="text" placeholder="Monitoring Ref" matInput formControlName="monitoringRef"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let monitoringRef of filteredMonitoringRefs | async"
                [value]="monitoringRef.StopPointRef">
                {{monitoringRef.StopName}} ' / ' {{monitoringRef.StopPointRef}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="group.controls['monitoringRef'].invalid">Monitoring ref is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Line Ref" matInput formControlName="lineRef" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let lineRef of filteredLineRefs | async" [value]="lineRef.LineRef">
                {{lineRef.LineName}} ' / ' {{lineRef.LineRef}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="group.controls['lineRef'].invalid">Line ref is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput type="time" formControlName="startTime">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Stop VisitTypes</mat-label>
        <mat-select formControlName="stopVisitTypes">
            <mat-option *ngFor="let value of ['arrivals', 'departures', 'all']" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-label>Preview Interval</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="60" formControlName="previewInterval"
        (change)="onChange('previewInterval', $event.value)">
    </mat-slider>
    <mat-label>Maximum Stop Visits</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="100" formControlName="maximumStopVisits"
        (change)="onChange('maximumStopVisits', $event.value)">
    </mat-slider>
    <mat-label>Minimum Stop Visits Per Line</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="100" formControlName="minimumStopVisitsPerLine"
        (change)="onChange('minimumStopVisitsPerLine', $event.value)">
    </mat-slider>
    <mat-label>Minimum Stop Visits Per Line Via</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="100" formControlName="minimumStopVisitsPerLineVia"
        (change)="onChange('minimumStopVisitsPerLineVia', $event.value)">
    </mat-slider>
    <mat-label>Maximum Number Of Calls Previous</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="100" formControlName="maximumNumberOfCallsPrevious"
        (change)="onChange('maximumNumberOfCallsPrevious', $event.value)">
    </mat-slider>
    <mat-label>Maximum Number Of Calls Onwards</mat-label>
    <mat-slider thumbLabel autoTick min="0" max="100" formControlName="maximumNumberOfCallsOnwards"
        (change)="onChange('maximumNumberOfCallsOnwards', $event.value)">
    </mat-slider>

    <button mat-raised-button fxFlexAlign="end" fxLayoutAlign="end" type="submit" raised [disabled]="!group.valid">Submit</button>
</form>