<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list>
      <mat-list-item (click)="onClick('Lines Discovery','/line-discovery')">Lines Discovery</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="onClick('Stop Points Discovery','/stop-points-discovery')">Stop Points Discovery
      </mat-list-item>
    </mat-list>
    <mat-accordion>
      <mat-expansion-panel (click)="onClick('Stop Monitoring','/stop-monitoring')">
        <mat-expansion-panel-header>
          <mat-panel-title>Stop Monitoring</mat-panel-title>
        </mat-expansion-panel-header>
        <app-stop-monitoring-form [monitoringRefs]="monitoringRefs" [lineRefs]="lineRefs"
          (stopMonitoringChange)="onStopMonitoringSubmit($event)">
        </app-stop-monitoring-form>
      </mat-expansion-panel>
      <mat-expansion-panel (click)="onClick('Estimated Timetable','/estimated-timetable')">
        <mat-expansion-panel-header>
          <mat-panel-title>Estimated Timetable</mat-panel-title>
        </mat-expansion-panel-header>
        <app-estimated-timetable-form [lineRefs]="lineRefs"
          (estimatedTimetableChange)="onEstimatedTimetableSubmit($event)">
        </app-estimated-timetable-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>