<paper-drawer-panel #panel>
  <paper-header-panel drawer>
    <paper-drawer>
      <paper-drawer-title photo="assets/images/siri.png" name="SIRI Services"> </paper-drawer-title>
      <paper-drawer-item (click)="onClick('Lines Discovery','/line-discovery'); sm_collapse.hide(); et_collapse.hide(); panel.closeDrawer();">Lines Discovery</paper-drawer-item>
      <paper-drawer-item (click)="onClick('Stop Points Discovery','/stop-points-discovery'); sm_collapse.hide(); et_collapse.hide(); panel.closeDrawer();">Stop Points Discovery</paper-drawer-item>
      <paper-drawer-item (click)="onClick('Stop Monitoring','/stop-monitoring'); sm_collapse.toggle()">Stop Monitoring</paper-drawer-item>
      <iron-collapse #sm_collapse>
        <stop-monitoring-form [monitoringRefs]="monitoringRefs" [lineRefs]="lineRefs" (submit)="onStopMonitoringSubmit($event)"></stop-monitoring-form>
      </iron-collapse>
      <paper-drawer-item (click)="onClick('Estimated Timetable','/estimated-timetable'); et_collapse.toggle()">Estimated Timetable</paper-drawer-item>
      <iron-collapse #et_collapse>
        <estimated-timetable-form [lineRefs]="lineRefs" (submit)="onEstimatedTimetableSubmit($event)"></estimated-timetable-form>
      </iron-collapse>
    </paper-drawer>
  </paper-header-panel>
  <paper-header-panel main>
    <paper-toolbar>
      <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
      <div class="title">{{title}}</div>
    </paper-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </paper-header-panel>
</paper-drawer-panel>
